.App {
  max-width: 500px;
  margin: auto;
  height: 98vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.125fr 1fr 0.075fr;
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Card {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
