.Card--box {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

m .Button-more {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.Section--Card {
  margin-bottom: 5px;
  display: flex;
}

.Card--img {
  border-radius: 50%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.Card--Person-Info {
  margin-left: 50px;
}

.Button-more {
  margin-top: 20px;
}

.red {
  background-color: tomato;
}

.blue {
  background-color: royalblue;
}

.yellow {
  background-color: goldenrod;
}

.green {
  background-color: #4caf50;
}

.grey {
  background-color: slategrey;
}
