.Card {
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}

.Button-more {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.Card--Person-Info {
  margin-left: 50px;
}

.Button-more {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
}

.EmojiBar {
  margin-top: 10px;
}

.EmojiButton {
  margin-left: 5px;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
