.Footer--Button-Gr {
  background-color: rgb(255, 99, 71);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__button--active-gr {
  padding: 10px 53px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(255, 99, 71);
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.footer__button--active-gr:hover {
  background-color: rgb(255, 99, 71);
}

.footer__button--active-gr:active {
  background-color: rgb(255, 99, 71);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Footer--Button-Hu {
  background-color: goldenrod;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__button--active-hu {
  padding: 10px 53px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: goldenrod;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.footer__button--active-hu:hover {
  background-color: goldenrod;
}

.footer__button--active-hu:active {
  background-color: goldenrod;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Footer--Button-Ra {
  background-color: royalblue;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__button--active-ra {
  padding: 10px 53px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: royalblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.footer__button--active-ra:hover {
  background-color: royalblue;
}

.footer__button--active-ra:active {
  background-color: royalblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Footer--Button-Sl {
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer__button--active-sl {
  padding: 10px 53px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.footer__button--active-sl:hover {
  background-color: #4caf50;
}

.footer__button--active-sl:active {
  background-color: #4caf50;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
